NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCVXVywdGgdpPu7QmNhUvngJiPXBdlqEDI"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="averyfungames.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="averyfungames"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="averyfungames.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="872790172624"
NEXT_PUBLIC_FIREBASE_APP_ID="1:872790172624:web:a89669a853caf64226cfd5"
